
a {
    text-decoration: none;
    color: white;
}

a.hover {
    color: #ed8936;
}

body {
    font-family: Work Sans, sans-serif, 'Courier New', Courier, monospace;
    color: #ed8936;
    word-wrap: break-word;
    background-color: black;
    /* opacity: 0.8; */
    /* background-image:  linear-gradient(#e6dbff 2px, transparent 2px), linear-gradient(90deg, #e6dbff 2px, transparent 2px), linear-gradient(#e6dbff 1px, transparent 1px), linear-gradient(90deg, #e6dbff 1px, #e5e5f7 1px); */
    /* background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px; */
    /* background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
    overflow-wrap: break-word;
}

button.resource-button {
    font-family: Work Sans, sans-serif, 'Courier New', Courier, monospace;
    border: 1px solid black;
    min-width: 275px;
    width: 50%;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 10px;
    text-align: left;
    vertical-align: top;
}

button.resource-button:hover{
    background-color: white;
    color: #ed8936;
    border-color: black;
}

.row {
    text-align: center;
    padding: 20px;
}

hr {
    width: 50%;
}

img.thumbnail {
    width: 18%;
}

img.download_button, img.home_button {
    width: 20%;
    min-width: 300px;
    border-top: 0px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 0px solid transparent;
}

img.download_button:hover, img.home_button:hover {
    border-left: 5px solid transparent;
    border-right: 0px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 0px solid transparent;
}